<h2>New Session (Log-IN)</h2>

<div class="content">
    <form action="/signin" method="POST">
        <label>Email: </label><input type="text" name="user[:email]"><br><br>
        <label>Password:</label><input type="password" name="user[:password]"><br><br>
        <input type="submit" value="Sign-In User">
    </form>
    <br><a href="/signup">New User Sign Up</a>
</div>