<h2>New User (Sign UP)</h2>

<div class="content">
    <form action="/signup" method="POST">
        <label>First Name: </label><input type="text" name="user[first_name]">
        <label>Last Name: </label><input type="text" name="user[last_name]"><br><br>
        <label>Email: </label><input type="text" name="user[email]"><br><br>
        <label>Password:</label><input type="password" name="user[password]"><br><br>
        <input type="submit" value="Create User">
    </form>
</div>